main {

    section {

        padding: 40px 0px;

        article {

            display: flex;
            align-items: center;
            justify-content: center;

            p, h3 {

                width: 700px;

            }

            img {

                width: 600px;

            }

            div {

                width: 700px;

                .logo {

                    width: 200px;
                    display: inline-block;
    
                }

            }

        }

        .us {

            display: flex;
            align-items: center;
            justify-content: center;

            div {

                margin: 10px 100px;

                p {

                    margin: auto;
                    padding: 10px;
                    text-align: center;

                }

                .icone {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #FFD700;
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    color: black;
                    font-size: 3rem;
                    font-family: 'Courier New', Courier, monospace;

                }

            }

        }

    }

    .aide {

        article {

            padding: 0px 200px;

        }

    }

}